#main > .item{
	position: relative;
	width: 200px;
	height: 200px;
	margin: 10px 60px;
	border: solid 1px #ddd;
	box-sizing: border-box;
	float: left;
	box-shadow: 0 3px 3px rgba(34,25,25,0.4);
	background-size: cover;
}

#main > .alert{
	position: relative;
	width: 100%;
	text-align: center;
	margin: 0px;
	border-radius: 0px;
	float: left;
}